@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pullUpDown {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-6px);
  }
  60% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}
